# Виртуальное окружение
venv/
.env

# Jupyter checkpoints
**/.ipynb_checkpoints/

# Python байт-код и кэши
*.pyc
__pycache__/

# IDE/editor
.idea/
.vscode/

# Логи и временные файлы
*.log
*.tmp
*.swp

# Отчеты
reports/

# Загрузки резюме / тестовые данные
data/resumes/

# папка с логами
logs/log-output/

# Папка с тестами
nlp/test/